= semantic_form_for @question do |f|
  = f.inputs do
    = f.input :question
    = f.input :ordering
    = f.semantic_fields_for :answers do |a|
      = a.inputs :class => (a.object.new_record? ? 'inputs new_record' : 'inputs') do
        = a.input :answer
        = a.input :ordering
        = a.input :_destroy, :as => :boolean
  = f.buttons
    
