%h2 Question Index

%table.striped
  %thead
    %tr
      %th Question Name
      %th Order
      %th
      %th
      %th
  %tbody
    - @questions.each do |question|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to question.question, question
        %td= question.ordering
        %td= link_to 'Show', question
        %td= link_to 'Edit', edit_question_path(question)
        %td= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete

#actions
  = link_to 'New Question', new_question_path
