%h2 Question Index

%table.striped
  %thead
    %tr
      %th Question Name
      %th Order
      %th
      %th
      %th
  %tbody
    - @questions.each do |question|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to question.question, question
        %td= question.ordering
        %td= link_to '', question, :class => 'fugue fugue-information'
        %td= link_to '', edit_question_path(question), :class => 'fugue fugue-pencil'
        %td= link_to '', question, :confirm => 'Are you sure?', :method => :delete,  :class => 'fugue fugue-cross'

#actions
  = link_to 'New Question', new_question_path, :class => 'fugue fugue-plus'
