%p#notice= notice

%p
  %b Question Title:
  = @question.question

%h2 Answers

%table.striped
  %tbody
    - @question.answers.each do |a|
      %tr{:class => cycle('even', 'odd')}
        %td= a.answer
        %td
          %ul
            - a.inputs.each do |i|
              %li= "#{i.key}: #{i.value}"
        %td= link_to 'edit', edit_answer_path(a)

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
