%h2="Vraag #{@question.number}: #{@question.question}"

%table.striped
  %thead
    %tr
      %th #
      %th Antwoord
      %th Settings voor ETM (kaal)
      %th Settings voor ETM (uitgebreid)
      %th
      %th
  %tbody
    - @question.answers.each do |a|
      %tr{:class => cycle('even', 'odd')}
        %td= a.letter
        %td= a.answer
        %td
          %ul
            - a.inputs.each do |i|
              %li
                %span.slider_id= "#{i.slider_id}:"
                %span.value= " #{i.value}"
        %td
          %ul
            - a.inputs.each do |i|
              %li
                %span.key= "#{i.key}"
                %span.slider_id= "(##{i.slider_id}):"
                %span.value= " #{i.value}"
        %td= link_to '', edit_answer_path(a), :class => 'fugue fugue-pencil'
        %td= link_to '', a, :method => :delete, :confirm => 'Are you sure?', :class => 'fugue fugue-cross'

#actions
  = link_to 'Edit', edit_question_path(@question), :class => 'fugue fugue-pencil'
  = link_to 'Back', questions_path
  = link_to 'Destroy', @question, :method => :delete, :confirm => 'Are you sure?',  :class => 'fugue fugue-cross'
