- page_title "Admin"

%h2 Current Configuration

%h4 Global Application
%pre= APP_CONFIG.to_yaml

%h4== Partition Configuration (#{ @partition.name })
%pre= PARTITIONS[@partition.name].to_yaml

%hr
%a(href="#" onclick="$('#cache_stats').toggle(); return false;") Cache stats
#cache_stats.hidden
  %pre= Rails.cache.stats.to_yaml rescue "Error"

%p  
  One you clear the cache it will take a while for the application to load
  the inputs list. Expect a few seconds delay the first time you land on the
  admin pages where you edit questions and answers.
  = button_to "Reset Cache", admin_reset_cache_path
