- page_title "Admin"

%h2 Current API Base Path:

= @api_base_path

%form{:method => :get}
  %select{:name => "api_base_path"}
    %option
    %option= APP_CONFIG["api_base_path"]
    %option http://et-engine.com/api/v2
    %option http://beta.et-engine.com/api/v2
  %input{:type => :submit}

%h2 Current config.yml

%pre= APP_CONFIG.to_yaml

%h2 Cache stats

%pre= Rails.cache.stats.to_yaml rescue "Error"

= link_to "Reset Cache", :action => :reset_cache
