- page_title "Question Sets"

%table.striped
  %thead
    %tr
      %th Id
      %th Name
      %th Questions
      %th
  %tbody
    - @question_sets.each do |s|
      %tr{:class => cycle('even', 'odd')}
        %td= s.id
        %td= link_to s.name, [:admin, s]
        %td= s.questions.count
        %td
          = link_to 'edit', edit_admin_question_set_path(s)
          = link_to 'delete', [:admin, s], :method => :delete, :confirm => 'Are you sure?'

#actions
  = link_to 'New', new_admin_question_set_path