- graph_max_height     = 380
- rounded_sum          = 0
- current_graph_height = 380 / 1.2

%table.graph_common.graph_shaded.graph_compare
  %tr
    %td{:colspan => 2}
  %tr
    %td.carriers
      .graph
        - scenario.carriers.each_pair do |key, v|
          - height = v[:ratio] * current_graph_height
          .carrier{:class => key, :style => "height: #{height}px"}
            .label= v[:label] if height > 8
    %td.money
      .background
        .coins{:style => "height: #{current_graph_height + 6}px"}
  %tr
    %td.dashboard{:colspan => 2}
      .item
        %h3= dashboard_label_for_output(:output_5)
        .value= format_dashboard_value(:output_5, scenario.output_5)
      .item
        %h3= dashboard_label_for_output(:output_6)
        .value= format_dashboard_value(:output_6, scenario.output_6)
      .item
        %h3= dashboard_label_for_output(:output_7)
        .value= format_dashboard_value(:output_7, scenario.output_7)
      .item
        %h3= dashboard_label_for_output(:output_8)
        .value= format_dashboard_value(:output_8, scenario.output_8)
