%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    Vergelijk

%section#left
  = render :partial => 'search_scenario_box'
%section#right
  %section#select
    = link_to 'Vergelijk verschillende mixen met elkaar', scenarios_path, :class => 'shell'
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  
.clear
%section#main
  - if @scenarios.empty?
    Please select some scenarios first
  - else
    - @scenarios.each do |s|
      .scenario.graph_normal
        .name= s.name
        = render :partial => "chart_top", :locals => {:scenario => s}
        = render :partial => 'chart', :locals => { :scenario => s }
        = render :partial => 'compare_dashboard', :locals => { :scenario => s }
