= render 'scenario_text'

%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    = @scenario.name


%section#left
  = render 'search_scenario_box'
  %section#description
    - unless @scenario.title.blank?
      .title
        %h1{:style=>"font-size:1.2em;"}= "'#{@scenario.title}'"
    .name
      De mix van #{@scenario.name}
      - if @scenario.age
        (#{@scenario.age} jaar)
    .content
      = full_text(@scenario)

%section#right
  %section#text
    = link_to 'Vergelijk verschillende mixen met elkaar', scenarios_path, :class => 'shell'
  %section#charts
    %section#user_chart
      = render 'full_chart', :scenario => @scenario
    %section#current_chart
      = render 'shaded_chart', :scenario => Scenario.current


- content_for :head do
  -#TODO: move this javascript to a js-file
  :javascript
    $(function(){
      $("#show_answers").colorbox({
        width: "600px",
        height: "650px",
        opacity: 0.6
      });
    });
