<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @input.key %>
</p>

<p>
  <b>Value:</b>
  <%= @input.value %>
</p>

<p>
  <b>Answer:</b>
  <%= @input.answer_id %>
</p>


<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
