%h2 User Scenarios

%table.striped
  %thead
    %tr
      %th Id
      %th Name
      %th Email
      %th Age
      %th Featured
      %th
      %th
      %th
      %th
      %th Carriers
      %th Dashboard Values
      %th Answers
  %tbody
    - @user_scenarios.each do |user_scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to user_scenario.id, user_scenario
        %td= link_to user_scenario.name, user_scenario
        %td= user_scenario.email
        %td= user_scenario.age
        %td= user_scenario.featured
        %td= link_to '', user_scenario, :class => 'fugue fugue-information'
        %td= link_to '', scenario_path(user_scenario), :class => 'fugue fugue-chart'
        %td= link_to '', edit_user_scenario_path(user_scenario), :class => 'fugue fugue-pencil'
        %td= link_to '', user_scenario, :confirm => 'Are you sure?', :method => :delete,  :class => 'fugue fugue-cross'
        %td
          %table.small
            %tr
              %td= gquery_for_output(:output_0)
              %td= user_scenario.output_0
            %tr
              %td= gquery_for_output(:output_1)
              %td= user_scenario.output_1
            %tr
              %td= gquery_for_output(:output_2)
              %td= user_scenario.output_2
            %tr
              %td= gquery_for_output(:output_3)
              %td= user_scenario.output_3
            %tr
              %td= gquery_for_output(:output_4)
              %td= user_scenario.output_4
        %td
          %table.small
            %tr
              %td= gquery_for_output(:output_5)
              %td= user_scenario.output_5
            %tr
              %td= gquery_for_output(:output_6)
              %td= user_scenario.output_6
            %tr
              %td= gquery_for_output(:output_7)
              %td= user_scenario.output_7
            %tr
              %td= gquery_for_output(:output_8)
              %td= user_scenario.output_8
        %td
          %table.small
            - user_scenario.answers.each do |a|
              %tr
                %td= a.question_id
                %td= a.answer_id

= paginate @user_scenarios

#actions
  = link_to 'New User Scenario', new_user_scenario_path, :class => 'fugue fugue-plus'