%h2 User Scenarios

%table.striped
  %thead
    %tr
      %th Id
      %th Name
      %th Email
      %th Age
      %th Featured
      %th
      %th
      %th
      %th.small= label_for_output(:output_0)
      %th.small= label_for_output(:output_1)
      %th.small= label_for_output(:output_2)
      %th.small= label_for_output(:output_3)
      %th.small= label_for_output(:output_4)
      %th.small= label_for_output(:output_5)
      %th.small= label_for_output(:output_6)
      %th.small= label_for_output(:output_7)
      %th.small= label_for_output(:output_8)
  %tbody
    - @user_scenarios.each do |user_scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to user_scenario.id, user_scenario
        %td= link_to user_scenario.name, user_scenario
        %td= user_scenario.email
        %td= user_scenario.age
        %td= user_scenario.featured
        %td= link_to 'Show', user_scenario
        %td= link_to 'Edit', edit_user_scenario_path(user_scenario), :class => 'fugue fugue-pencil'
        %td= link_to 'Destroy', user_scenario, :confirm => 'Are you sure?', :method => :delete,  :class => 'fugue fugue-cross'
        %td.small= user_scenario.output_0
        %td.small= user_scenario.output_1
        %td.small= user_scenario.output_2
        %td.small= user_scenario.output_3
        %td.small= user_scenario.output_4
        %td.small= user_scenario.output_5
        %td.small= user_scenario.output_6
        %td.small= user_scenario.output_7
        %td.small= user_scenario.output_8

= paginate @user_scenarios

#actions
  = link_to 'New User Scenario', new_user_scenario_path, :class => 'fugue fugue-plus'