%h2 User Scenario

%dl.admin
  %dt Id
  %dd= @user_scenario.id
  %dt Name
  %dd= @user_scenario.name
  %dt Email
  %dd= @user_scenario.email
  %dt Age
  %dd= @user_scenario.age
  %dt Featured
  %dd= @user_scenario.featured
  %dt= label_for_output(:output_0)
  %dd= @user_scenario.output_0
  %dt= label_for_output(:output_1)
  %dd= @user_scenario.output_1
  %dt= label_for_output(:output_2)
  %dd= @user_scenario.output_2
  %dt= label_for_output(:output_3)
  %dd= @user_scenario.output_3
  %dt= label_for_output(:output_4)
  %dd= @user_scenario.output_4
  %dt= label_for_output(:output_5)
  %dd= @user_scenario.output_5
  %dt= label_for_output(:output_6)
  %dd= @user_scenario.output_6
  %dt= label_for_output(:output_7)
  %dd= @user_scenario.output_7
  %dt= label_for_output(:output_8)
  %dd= @user_scenario.output_8

#actions
  = link_to 'Edit', edit_user_scenario_path(@user_scenario), :class => 'fugue fugue-pencil'
  = link_to 'Back', user_scenarios_path
  = link_to 'Destroy', @user_scenario, :method => :delete, :confirm => 'Are you sure?',  :class => 'fugue fugue-cross'
