%p
  Beste #{@scenario.name},

%p
  Hierbij sturen we je de directe link naar de mix die je in de #{t(APP_CONFIG['app_name'])} heeft gemaakt.

%p
  = link_to scenario_url(@scenario), scenario_url(@scenario)

%p
  Ook kun je door op onderstaande link te klikken toegang krijgen tot je Energy Mix in het Energietransitiemodel. Je kan dan zelf verdere verfijningen aanbrengen of instellingen nog aanpassen, net zoals de echte beleidsmakers dat doen.

%p
  = link_to "Open je mix in het Energietransitiemodel", @etm_scenario_url

%p
  Als je een idee hebt om de #{t(APP_CONFIG['app_name'])} te verbeteren, of gewoon een reactie wilt geven stuur dan een mail naar:
  = link_to "mixer@quintel.com", "mailto:mixer@quintel.com"

%p
  Met vriendelijke groeten,

%p
  Shell & Quintel