%h1 Results Index

%table.striped
  %thead
    %tr
      %th Key
      %th Gquery
      %th Group
      %th
      %th
  %tbody
    - @results.each do |result|
      %tr{:class => cycle('even', 'odd')}
        %td= result.key
        %td= result.gquery
        %td= result.group
        %td= link_to 'Edit', edit_result_path(result)
        %td= link_to 'Destroy', result, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Result', new_result_path