= semantic_form_for @answer do |f|
  = f.inputs do
    = f.input :answer
    = f.input :description
    = f.input :ordering
    = f.semantic_fields_for :inputs do |i|
      = i.inputs :class => (i.object.new_record? ? 'inputs new_record' : 'inputs') do
        = i.input :key
        = i.input :value
        = i.input :_destroy, :as => :boolean
    = f.buttons
