= semantic_form_for @answer do |f|
  = f.inputs do
    = f.input :answer
    = f.input :description
    = f.input :ordering
    %h3 Inputs
    = f.semantic_fields_for :inputs do |i|
      = i.inputs do
        = i.input :key
        = i.input :value
        = i.input :_destroy, :as => :boolean unless i.object.new_record?
    = f.buttons
