%p#notice= notice

%p
  %b Answer:
  = @answer.answer
%p
  %b Order:
  = @answer.order
%p
  %b Question:
  = @answer.question_id

%h2 Inputs
%dl
  - @answer.inputs.each do |i|
    %dt= i.key
    %dd= i.value

= link_to 'Edit', edit_answer_path(@answer)
\|
= link_to 'Back', answers_path
