.question{:id=>"question_#{question.number}"}
  .information
    = raw question.information
  .number
    = question.number
  .question_text
    = raw question.question
  .answers
    - question.answers.each do |answer|
      .answer
        %input{:name => "question_#{question.id}", 
               :type => "radio", 
               :value => answer.id, 
               :id => "answer_#{answer.id}"}
        %label{:for => "answer_#{answer.id}", :id => "label_#{answer.id}"}
          %span.letter
            = answer.letter
          %span.answer_text
            = raw answer.answer
