%ul.static_graph.graph
  %li
    =gquery_for_output(:output_0)
    = scenario.output_0
  %li
    =gquery_for_output(:output_1)
    = scenario.output_1
  %li
    =gquery_for_output(:output_2)
    = scenario.output_2
  %li
    =gquery_for_output(:output_3)
    = scenario.output_3
  %li
    =gquery_for_output(:output_4)
    = scenario.output_4
