- page_title "User Scenarios"

%table
  %thead
    %tr
      %th= sortable(@scenarios, false , "created_at" ,"Date")
      %th= sortable(@scenarios, false , "title")
      %th= sortable(@scenarios, false , "name")
      %th= sortable(@scenarios, true , "output_5", "Co2 (%)")
      %th= sortable(@scenarios, true , "output_6", "Renewables (%)")
      %th= sortable(@scenarios, true , "output_8", "Import (%)")
      %th= sortable(@scenarios, true , "output_12", "Cost (mrd)")
      %th
  %tbody
    - @scenarios.each do |scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= l scenario.created_at, :format => :short
        %td= link_to scenario.title, admin_scenario_path(scenario) if scenario.title
        %td= link_to scenario.name, admin_scenario_path(scenario)
        %td= (scenario.output_5*100).round(2)
        %td= (scenario.output_6*100).round(2)
        %td= (scenario.output_8*100).round(2)
        %td= (scenario.output_12/1000000000).round(2)

.scenarios_stats
  - @question_set.questions.each do |question|
    %table.answer_stats
      %tr
        %th.title{:colspan => 2}= question.text
      - question.answers.each do |answer|
        - percentage = answer.votes_in_scenarios(@scenarios).to_f / question.most_voted_answer_for_scenarios(@scenarios).votes_in_scenarios(@scenarios) * 95 rescue 0.0
        %tr{:class => cycle('even', 'odd')}
          %td.text= answer.text
          %td.bar
            .bar{:style => "width: #{percentage}%"}
            .votes= answer.votes_in_scenarios(@scenarios)
