%section#questions.grid_6.alpha
  = render :partial => 'questions'

%section#results.grid_6.omega
  .grid_3.alpha
    %section{:class=>"output"}
      = render :partial => 'graph'
  .grid_3.omega.dashboard
    %section{:class=>"output"}
      = render :partial => 'dashboard'
.clear
%section#bottom.grid_12.alpha.omega
  %section{:class=>"output"}
    = render :partial => 'debug_results'
    
            
- content_for(:head) do
  = stylesheet_link_tag 'home'
  = javascript_include_tag 'jquery.json-2.2.min' # for easier debugging
  = javascript_include_tag 'jquery.jsonp-2.1.4.min' # better error handling
  = javascript_include_tag 'mixer'
  = javascript_include_tag 'questions'
  :javascript
    var globals = {
      answers: #{answers_json},
      dashboard_items: #{dashboard_items_json},
      mix_table: #{mix_table_json}
    }
