%content#questions
  %form
    - @questions.each_with_index do |question, i|
      %article.question
        %fieldset
          %legend= "Question ##{i + 1}"
          .question_text= question.question
          - question.answers.each do |answer|
            .answer
              %input{:name => "question_#{question.id}", 
                     :type => "radio", 
                     :value => answer.id, 
                     :id => "ans_#{answer.id}"}
              %label{:for => "ans_#{answer.id}"}
                = answer.answer

  %input{:type => "submit"}
#response

- content_for :head do
  = javascript_include_tag 'main'
