%section#intro_text.shaded_gradient
  %h1{:class => APP_NAME}
    =t(APP_NAME).upcase
  %p= t 'home.header.text', :app_name => t(APP_NAME)

%section#actions
  = link_to t('links.scenarios_index'), scenarios_path, :class => 'shell'
  = link_to t('links.scenarios_new'), new_scenario_path, :class => 'shell'
  
%section#main.shaded_gradient
  #intro
    %h3= t 'home.intro.title'
    %p= t 'home.intro.text', :app_name => t(APP_NAME), :end_year => @end_year
      
  #chart
    %header.header_blue
      %strong= t 'home.chart.header.title'
      %br
      = raw t 'home.chart.header.costs', :amount => number_with_precision(Scenario.current.total_amount / 1_000_000_000, :precision => 1, :separator => ".")
    = render :partial => 'chart', :locals => {:scenario => Scenario.current, :max_amount => 43_000_000_000}
  #map
    #sector_icons
      .sector#icon_buildings{:rel => 'buildings'}
        .popup.hidden
          %a.description{:href=>"#"}
            #{t 'sectors.buildings'} 28%
          .text.hidden= t 'home.popups.buildings', :end_year => @end_year
      .sector#icon_agriculture{:rel => 'agriculture'}
        .popup.hidden
          %a.description{:href=>"#"}
            #{t 'sectors.agriculture'} 7%
          .text.hidden= t 'home.popups.agriculture', :end_year => @end_year
      .sector#icon_transport{:rel => 'transport'}
        .popup.hidden
          %a.description{:href=>"#"}
            #{t 'sectors.transport'} 18%
          .text.hidden= t 'home.popups.transport', :end_year => @end_year, :app_name => t(APP_NAME)
      .sector#icon_industry{:rel => 'industry'}
        .popup.hidden
          %a.description{:href=>"#"}
            #{t 'sectors.industry'} 47%
          .text.hidden= t 'home.popups.industry', :end_year => @end_year

    #sector_links
      %h3 t 'sectors.sectors'
      .sector
        %a.shell{:href => '#', :rel => 'transport'}= t 'sectors.transport'
      .sector
        %a.shell{:href => '#', :rel => 'agriculture'}= t 'sectors.agriculture'
      .sector
        %a.shell{:href => '#', :rel => 'industry'}= t 'sectors.industry'
      .sector
        %a.shell{:href => '#', :rel => 'buildings'}= t 'sectors.buildings'
  
- content_for :head do
  = javascript_include_tag 'home', 'vendor/sprintf-0.7-beta1'
  :javascript
    var globals = {
      carriers: #{@intro_data.to_json}
    }
    if (navigator.appVersion.indexOf("MSIE 7.") != -1) {
      alert("#{t 'layout.old_browser'}");
    }
      
