%section#questions
  = render :partial => 'questions'

%section#results
  %section{:class=>"output"}
    = render :partial => 'debug_results'
  %section{:class=>"output"}
    = render :partial => 'boxes'
  %section{:class=>"output"}
    = render :partial => 'graph'
            
- content_for(:head) do
  = stylesheet_link_tag 'home'
  = javascript_include_tag 'jquery.json-2.2.min' # for easier debugging
  = javascript_include_tag 'mixer'
  = javascript_include_tag 'questions'
  :javascript
    answers = #{answers_json}