%section#questions.grid_6.alpha
  = render :partial => 'questions'

%section#results.grid_6.omega
  .grid_3.alpha
    %section{:class=>"output"}
      = render :partial => 'graph'
  .grid_3.omega
    %section{:class=>"output"}
      = render :partial => 'boxes'
  .grid_6
    %section{:class=>"output"}
      = render :partial => 'debug_results'
    
            
- content_for(:head) do
  = stylesheet_link_tag 'home'
  = javascript_include_tag 'jquery.json-2.2.min' # for easier debugging
  = javascript_include_tag 'mixer'
  = javascript_include_tag 'questions'
  :javascript
    answers = #{answers_json}