%h2 scenario

%p
  Scenario created by
  = @user_scenario.name

%p
  Email
  = @user_scenario.email

%p
  Age
  = @user_scenario.age

%table
  %tr
    %th field
    %th value
  %tr
    %td= label_for_output(:output_0)
    %td= @user_scenario.output_0
  %tr
    %td= label_for_output(:output_1)
    %td= @user_scenario.output_1
  %tr
    %td= label_for_output(:output_2)
    %td= @user_scenario.output_2
  %tr
    %td= label_for_output(:output_3)
    %td= @user_scenario.output_3
  %tr
    %td= label_for_output(:output_4)
    %td= @user_scenario.output_4
  %tr
    %td= label_for_output(:output_5)
    %td= @user_scenario.output_5
  %tr
    %td= label_for_output(:output_6)
    %td= @user_scenario.output_6
  %tr
    %td= label_for_output(:output_7)
    %td= @user_scenario.output_7
  %tr
    %td= label_for_output(:output_8)
    %td= @user_scenario.output_8
    