%section#breadcrumbs
  %nav
    = link_to t('homepage'), root_path
    >
    = link_to t('links.scenarios_index'), scenarios_path
    >
    Stats

= form_tag "/analysis", :method => :post do
  %table
    %thead
      %tr
        %th
        %th Id
        %th= sortable_header 'Title', 'title'
        %th= sortable_header 'Name', 'name'
        %th= sortable_header("Co2 (%)", "output_5")
        %th= sortable_header("Renewables (%)","output_6")
        %th= sortable_header("Import (%)", 'output_8')
        %th= sortable_header("Cost (mrd)", 'output_12')
    %tfoot
      %tr
        %td{:colspan => 8}= paginate @scenarios
    %tbody
      - @scenarios.each do |s|
        %tr{:class => cycle('even', 'odd')}
          %td= check_box_tag "scenario_ids[]", s.id, false
          %td= s.id
          %td= link_to s.title, s if s.title
          %td= link_to s.name, s
          %td= (s.output_5*100).round(2)
          %td= (s.output_6*100).round(2)
          %td= (s.output_8*100).round(2)
          %td= (s.output_12/1000000000).round(2)

  %p= submit_tag "Compare answers"
