:javascript
  var input_keys = #{Input.available_inputs.map{|i| {:label => i[1]}}.to_json}
  $(function(){
    $("input.autocomplete").autocomplete({ source: input_keys });
  });
= simple_form_for [:admin, @answer] do |f|
  = f.input :text_nl
  = f.input :text_de
  = f.input :description_nl
  = f.input :description_de
  = f.input :ordering
  = f.simple_fields_for :inputs do |i|
    = field_set_tag do
      = i.input :slider_name, :as => :string, :input_html => { :class => 'autocomplete'}
      = i.label :value
      = i.text_field :value
      = i.check_box :_destroy unless i.object.new_record?
      Remove parameter
  = field_set_tag "Conflicts" do
    %ul
      - Question.ordered.each do |q|
        %li
          \##{q.number}
          = q.text
          %ol
            - q.answers.each do |a|
              %li
                - unless @answer.question_id == q.id
                  = check_box_tag("answer[conflicting_answer_ids][]", a.id, @answer.conflicts_with?(a))
                = a.text
  = f.button :submit
