= simple_form_for [:admin, @answer] do |f|
  = f.input :text_nl
  = f.input :text_de
  = f.input :text_en
  = f.input :description_nl
  = f.input :description_de
  = f.input :description_en
  = f.input :ordering
  = f.simple_fields_for :inputs do |i|
    = field_set_tag do
      = i.input :key, :as => :select, :collection => @available_inputs
      = i.label :value
      = i.text_field :value
      = i.check_box :_destroy unless i.object.new_record?
      Remove parameter
  = field_set_tag "Conflicts" do
    %ul
      - Question.ordered.each do |q|
        %li
          \##{q.number}
          = q.text
          %ol
            - q.answers.each do |a|
              %li
                - unless @answer.question_id == q.id
                  = check_box_tag("answer[conflicting_answer_ids][]", a.id, @answer.conflicts_with?(a))
                - others = a.questions_using_the_same_sliders
                %span{:class => others.any? && 'red'}=a.text
                - if others.any?
                  %ul
                    - others.each do |q|
                      %li
                        Possible conflict with
                        = link_to q.text, edit_admin_question_path(q)
  = f.button :submit
