:javascript
  var input_keys = #{Input.available_inputs.values.to_json}
  $(function(){
    $("input.autocomplete").autocomplete({ source: input_keys });
  });
= semantic_form_for [:admin, @answer] do |f|
  = f.inputs do
    = f.input :answer
    = f.input :description
    = f.input :ordering
    %h3 Inputs
    = f.semantic_fields_for :inputs do |i|
      = i.inputs do
        = i.input :slider_name, :as => :string, :input_html => { :class => 'autocomplete'}
        = i.input :value
        = i.input :_destroy, :as => :boolean unless i.object.new_record?
    %h3 Conflicts
    %ul
      - Question.ordered.each do |q|
        %li
          \##{q.number}
          = q.question
          %ol
            - q.answers.each do |a|
              %li
                - unless @answer.question_id == q.id
                  = check_box_tag("answer[conflicting_answer_ids][]", a.id, @answer.conflicts_with?(a))
                = a.answer
    = f.buttons
