= simple_form_for [:admin, @answer], html: { novalidate: true } do |f|
  = f.input :text_nl
  = f.input :text_de
  = f.input :text_en
  = f.input :description_nl
  = f.input :description_de
  = f.input :description_en
  = f.input :ordering
  = f.simple_fields_for :inputs do |i|
    = field_set_tag do
      = i.input :key, :as => :select, :collection => @available_inputs
      = i.label :value
      = i.text_field :value
      = i.check_box :_destroy unless i.object.new_record?
      Remove parameter
  = field_set_tag "Conflicts" do
    %ul
      - Question.ordered.each do |q|
        %li
          \##{q.number}
          = q.text
          %ol
            - q.answers.each do |a|
              %li
                - unless @answer.question_id == q.id
                  = check_box_tag("answer[conflicting_answer_ids][]", a.id, @answer.conflicts_with?(a))
                %span=a.text
  = f.button :submit
