- page_title "Editing Answer"

%p
  If you're changing the answer inputs it's a good idea to clear the inputs cache
  #{link_to 'clicking here', admin_reset_cache_path}, otherwise you might have a
  stale list.

%p
  Question ##{@answer.question.number}:
  = link_to @answer.question.text, admin_question_path(@answer.question)

= render 'form'

#actions
  = link_to 'Show', admin_answer_path(@answer)
