%h2 Dashboard Items

%table.striped
  %thead
    %tr
      %th Label
      %th GQuery
      %th Steps
      %th Order
      %th
      %th
      %th
  %tbody
    - @dashboard_items.each do |dashboard_item|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to dashboard_item.label, dashboard_item
        %td= dashboard_item.gquery
        %td= dashboard_item.steps
        %td= dashboard_item.ordering
        %td= link_to 'Show', dashboard_item
        %td= link_to 'Edit', edit_dashboard_item_path(dashboard_item), :class => 'fugue fugue-pencil'
        %td= link_to 'Destroy', dashboard_item, :confirm => 'Are you sure?', :method => :delete,  :class => 'fugue fugue-cross'

#actions
  = link_to 'New Question', new_dashboard_item_path, :class => 'fugue fugue-plus'
