%h2 Dashboard Item

%dl
  %dt Label
  %dd= @dashboard_item.label
  %dt GQuery
  %dd= @dashboard_item.gquery
  %dt Ordering
  %dd= @dashboard_item.ordering
  %dt Steps
  %dd= @dashboard_item.steps

#actions
  = link_to 'Edit', edit_dashboard_item_path(@dashboard_item), :class => 'fugue fugue-pencil'
  = link_to 'Back', dashboard_items_path
  = link_to 'Destroy', @dashboard_item, :method => :delete, :confirm => 'Are you sure?',  :class => 'fugue fugue-cross'
