= simple_form_for [:admin, @dashboard_item] do |f|
  = f.association :question_set, :include_blank => false
  = f.input :label, :hint => "Not used! Modify the yml file"
  = f.input :gquery, :hint => "Don't change me unless you know what you're doing"
  = f.input :steps, :hint => 'Comma separated numeric values. Example: 0.0,0.1,0.5'
  = f.button :submit
    
