- page_title "Dashboard Items"

%table.striped
  %thead
    %tr
      %th Question Set
      %th Label
      %th GQuery
      %th Steps
      %th
      %th
      %th
  %tbody
    - @dashboard_items.each do |d|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to d.question_set.name, admin_question_set_path(d.question_set)
        %td= link_to d.label, admin_dashboard_item_path(d)
        %td= d.gquery
        %td= d.steps
        %td= link_to 'Show', admin_dashboard_item_path(d)
        %td= link_to 'Edit', edit_admin_dashboard_item_path(d)
        %td= link_to 'Delete', admin_dashboard_item_path(d), :confirm => 'Are you sure?', :method => :delete

#actions
  = link_to 'New Question', new_admin_dashboard_item_path
