%h2 Dashboard Items

%table.striped
  %thead
    %tr
      %th Label
      %th GQuery
      %th Steps
      %th Order
      %th
      %th
      %th
  %tbody
    - @dashboard_items.each do |dashboard_item|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to dashboard_item.label, admin_dashboard_item_path(dashboard_item)
        %td= dashboard_item.gquery
        %td= dashboard_item.steps
        %td= dashboard_item.ordering
        %td= link_to '', admin_dashboard_item_path(dashboard_item), :class => 'fugue fugue-information'
        %td= link_to '', edit_admin_dashboard_item_path(dashboard_item), :class => 'fugue fugue-pencil'
        %td= link_to '', admin_dashboard_item_path(dashboard_item), :confirm => 'Are you sure?', :method => :delete,  :class => 'fugue fugue-cross'

#actions
  = link_to 'New Question', new_admin_dashboard_item_path, :class => 'fugue fugue-plus'
