%h2 Question Index

%table.striped
  %thead
    %tr
      %th Set
      %th Question Name
      %th Order
      %th
  %tbody
    - @questions.each do |question|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to question.question_set.try(:name), [:admin, question.question_set]
        %td= link_to question.question, admin_question_path(question)
        %td= question.number
        %td
          = link_to '', edit_admin_question_path(question), :class => 'fugue fugue-pencil'
          = link_to '', admin_question_path(question), :confirm => 'Are you sure?', :method => :delete,  :class => 'fugue fugue-cross'

#actions
  = link_to 'New Question', new_admin_question_path, :class => 'fugue fugue-plus'
