- page_title "Question Details"

%table.striped
  %tr.odd
    %td Text NL:
    %td= @question.text_nl
  %tr.even
    %td Text DE:
    %td= @question.text_de
  %tr.odd
    %td Description NL:
    %td= @question.description_nl
  %tr.even
    %td Description DE:
    %td= @question.description_de
  %tr.odd
    %td Text EN:
    %td= @question.text_en
  %tr.even
    %td Description EN:
    %td= @question.description_en

%table.striped
  %thead
    %tr
      %th #
      %th Antwoord
      %th Settings voor ETM
      %th Conflicts with
      %th
  %tbody
    - @question.answers.ordered.each do |a|
      %tr{:class => cycle('even', 'odd')}
        %td= a.ordering
        %td
          NL: #{a.text_nl}
          %br
          DE: #{a.text_de}
          %br
          EN: #{a.text_en}
        %td
          - if a.inputs.any?
            %a{ :href => '#', :onclick => '$(this).parent().find("table").toggle(); return false;' } Inputs
            %table.small.hidden
              - a.inputs.sort_by(&:key).each do |i|
                %tr
                  %td= i.key
                  %td= i.value
        %td
          - if a.conflicting_answers.any?
            %a{ :href => '#', :onclick => '$(this).parent().find("table").toggle(); return false;' } Conflicts
            %table.small.hidden
              - a.conflicting_answers.each do |answer|
                %tr
                  %td= truncate(answer.question.text)
                  %td= link_to(truncate(answer.text), edit_admin_answer_path(answer))
        %td
          = link_to '', edit_admin_answer_path(a), :class => 'fugue fugue-pencil'
          = link_to '', admin_answer_path(a), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'fugue fugue-cross'

#actions
  = link_to 'Edit', edit_admin_question_path(@question)
  = link_to 'Back to question index', admin_questions_path
  = link_to 'Destroy', admin_question_path(@question), :method => :delete, :data => { :confirm => 'Are you sure?' }
