= simple_form_for [:admin, @popup] do |f|
  = f.input :code
  = f.input :title_nl
  = f.input :body_nl
  = f.input :video_nl, :hint => "URL of the video"
  = f.input :title_de
  = f.input :body_de
  = f.input :video_de, :hint => "URL of the video"
  = f.input :title_en
  = f.input :body_en
  = f.input :video_en, :hint => "URL of the video"
  = f.button :submit
    
