- page_title @popup.title

%dl
  %dt Code
  %dd= @popup.code
  %dt Title NL:
  %dd= @popup.title_nl
  %dt Body NL:
  %dd= @popup.body_nl
  %dt Video NL:
  %dd= @popup.video_nl
  %dt Title DE:
  %dd= @popup.title_de
  %dt Body DE:
  %dd= @popup.body_de
  %dt Video DE:
  %dd= @popup.video_de
  %dt Title EN:
  %dd= @popup.title_en
  %dt Body EN:
  %dd= @popup.body_en
  %dt Video EN:
  %dd= @popup.video_en

#actions
  = link_to 'Edit', edit_admin_popup_path(@popup), :class => 'fugue fugue-pencil'
  = link_to 'Back', admin_popups_path
  = link_to 'Destroy', admin_popup_path(@popup), :method => :delete, :data => { :confirm => 'Are you sure?' },  :class => 'fugue fugue-cross'
