.dashboard
  .item
    %h3= dashboard_label_for_output(:output_5)
    .value= format_dashboard_value(:output_5, scenario.output_5)
  .item
    %h3= dashboard_label_for_output(:output_6)
    .value= format_dashboard_value(:output_6, scenario.output_6)
  .item
    %h3= dashboard_label_for_output(:output_7)
    .value= format_dashboard_value(:output_7, scenario.output_7)
  .item
    %h3= dashboard_label_for_output(:output_8)
    .value= format_dashboard_value(:output_8, scenario.output_8)
  - if APP_CONFIG["score"] && scenario.score
    .item
      %h3 Score
      .value= scenario.score
