- content_for(:head) do
  = javascript_include_tag 'mixer_application'
  :javascript
    var globals = {
      answers: #{answers_json},
      answers_conflicts: #{answers_conflicts_json},
      chart: {
        dashboard_steps: #{dashboard_steps_json},
        max_amount: #{Scenario::MaxAmount}
      },
      api: {
        url: #{APP_CONFIG[:api_url].to_json},
        proxy_url: #{APP_CONFIG[:api_proxy_url].to_json},
        disable_cors: #{APP_CONFIG[:disable_cors].to_json},
        session_settings: {
          country: #{APP_CONFIG["api_session_settings"][:country].to_json},
          end_year: #{@end_year}
        },
        load_in_etm_url: "#{APP_CONFIG['view_scenario_path']}"
      },
      gqueries: {
        primary: #{Scenario::PrimaryTable.to_json},
        secondary: #{Scenario::SecondaryTable.to_json},
        dashboard: #{Scenario::DashboardTable.to_json},
        costs: #{Scenario::CostsTable.to_json}
      },
      popups: #{popup_json},
      current_situation: #{Scenario.current.combined_carriers.to_json},
      config: {
        score_enabled: #{APP_CONFIG['score'].to_json},
        geolocation_enabled: #{APP_CONFIG['geolocation_enabled'].to_json}
      },
      open_in_etm_link: #{t('scenario.open_in_etm_link').to_json}
    }
