- content_for(:head) do
  = javascript_include_tag 'vendor/jquery.json-2.2.min' # for easier debugging
  = javascript_include_tag 'vendor/jquery.jsonp-2.1.4.min' # better error handling
  = javascript_include_tag 'vendor/jquery.busy.min'
  = javascript_include_tag 'rails.validations'
  = javascript_include_tag 'vendor/sprintf-0.7-beta1'
  = javascript_include_tag 'chart', 'questions', 'score_board', 'mixer'
  :javascript
    var globals = {
      answers: #{answers_json},
      answers_conflicts: #{answers_conflicts_json},
      chart: {
        dashboard_steps: #{dashboard_steps_json},
        max_amount: #{Scenario::MaxAmount}
      },
      api: {
        base_path: #{APP_CONFIG["api_base_path"].to_json},
        session_settings: {
          country: #{APP_CONFIG["api_session_settings"][:country].to_json},
          end_year: #{@end_year}
        },
        load_in_etm_url: "#{APP_CONFIG['view_scenario_path']}"
      },
      gqueries: {
        primary: #{Scenario::PrimaryTable.to_json},
        secondary: #{Scenario::SecondaryTable.to_json},
        dashboard: #{Scenario::DashboardTable.to_json},
        costs: #{Scenario::CostsTable.to_json}
      },
      popups: #{popup_json},
      current_situation: #{Scenario.current.combined_carriers.to_json},
      score_enabled: #{APP_CONFIG['score'].to_json},
      geolocation_enabled: #{APP_CONFIG['geolocation_enabled'].to_json},
      open_in_etm_link: #{t('scenario.open_in_etm_link').to_json}
    }
