%nav#up
  %ol
    - Question.ordered.each do |question|
      %li{:class=>"question_tab", :'data-question_id' => question.number}
        =question.number
  
  -# UNCOMMENT THIS SECTION TO ENABLE CLICKABLE LINKS, DS, April 5th, 2011
  -# - Question.ordered.each do |question|
  -#   %a{:href  => "#",
  -#      :class => 'question_tab',
  -#      :'data-question_id' => question.number}
  -#     =question.number
  -# - last_question_number = Question.count + 1
  -# %a{:href  => "#",
  -#    :class => 'question_tab',
  -#    :'data-question_id' => last_question_number}Submit
      
%div
  = form_for @scenario, :url => scenarios_path, :validate => true, :html => { :method => :post } do |scenario|
    = scenario.fields_for :answers do |answer|
      = render :partial => 'question', :locals => { :answer => answer}
    = render :partial => 'user_details', :locals => { :scenario => scenario}
%nav#down
  %a{ :href => "#", :id => "previous_question"}= t('previous')
  %a{ :href => "#", :id => "next_question"}= t('next')

#notice
  De antwoorden op de vragen  
  %span.conflicting_questions
  lijken tegenstrijdig.
  %br
  Weet u zeker dat deze antwoorden de situatie in 2025 goed beschrijven?

#admin_menu
  %h2 TEST MENU
  - Question.ordered.each do |question|
    %a{:href  => "#",
       :class => 'question_tab',
       :'data-question_id' => question.number}
      =question.number
  - last_question_number = Question.count + 1
  %a{:href  => "#",
     :class => 'question_tab',
     :'data-question_id' => last_question_number}Submit