%nav#up.shaded_gradient
  %table
    %tr
      - question_number = 0
      - @questions.each do |question|
        - question_number += 1
        %td.question_tab{:'data-question_id' => question_number}=question_number
%div.questions
  = form_for @scenario, :url => scenarios_path, :validate => true, :html => { :method => :post } do |scenario|
    - question_number = 0
    = scenario.fields_for :answers do |answer|
      - question_number += 1
      = render 'question', :answer => answer, :number => question_number
    = render 'user_details', :scenario => scenario

- if params[:test]
  #admin_menu
    %h2 TEST MENU
    - question_number = 0
    - @questions.each do |question|
      - question_number += 1
      %a.question_tab{:href  => "#", :'data-question_id' => question_number}
        = question_number
    - last_question_number = @questions.count + 1
    %a.question_tab{:href  => "#",:'data-question_id' => last_question_number}Submit