%nav#up
  %table
    %tr
      - Question.ordered.each do |question|
        %td.question_tab{:'data-question_id' => question.number}=question.number
%div
  = form_for @scenario, :url => scenarios_path, :validate => true, :html => { :method => :post } do |scenario|
    = scenario.fields_for :answers do |answer|
      = render 'question', :answer => answer
    = render 'user_details', :scenario => scenario
%nav#down
  %a{ :href => "#", :id => "previous_question"}= t('previous')
  %a{ :href => "#", :id => "next_question"}= t('next')

#notice
  De antwoorden op de vragen  
  %span.conflicting_questions
  lijken tegenstrijdig.
  %br
  Weet u zeker dat deze antwoorden de situatie in #{APP_CONFIG['api_session_settings'][:end_year]} goed beschrijven?

#admin_menu
  -if params[:test]
    %h2 TEST MENU
    - Question.ordered.each do |question|
      %a.question_tab{:href  => "#", :'data-question_id' => question.number}
        =question.number
    - last_question_number = Question.count + 1
    %a.question_tab{:href  => "#",:'data-question_id' => last_question_number}Submit