- max_height = 160
- cumulative_ratio = scenario.renewable_carrier_ratios.values.sum
.renewables_float
  %h3 Hernieuwbaar
  %ul.chart
    - scenario.renewable_carrier_ratios.each_pair do |carrier, value|
      - height = value / cumulative_ratio * max_height
      %li.serie{:class => [carrier, Scenario::SecondaryMixTable[carrier]], :style => "height: #{height}px", :title => I18n.t(carrier)}
  .legend
    %h4 Legenda
    %table
      - scenario.renewable_carrier_ratios.each_pair do |carrier, value|
        %tr{:class => [carrier, "costs_share_of_#{carrier}"]}
          %td= image_tag "layout/textures/#{carrier}.png"
          %td= t(carrier)
          %td.value= number_to_percentage value * 100, :precision => 1
