:ruby
  score_items = ['cost', 'co2', 'renewables', 'areafp', 'import']
  score = scenario.score.to_i rescue 0
#score
  = t 'score.your_score'
  \:
  %strong.value= score
  - if scenario.new_record?
    #show_info
.score_details{:style => "display:none;"}
  %table
    - score_items.each do |key|
      %tr{:class => cycle("odd","even")}
        %td= t "score.#{key}"
        %td{:class => key} 0.00
  %p.explanation= t 'score.explanation'
.clear
