.scenario.shaded_gradient{:class => scenario.featured? ? 'featured' : '', :'data-scenario_id' => scenario.id }
  .image
    = image_tag 'graph_icon.png'
  .actions
    .show
      = link_to t('links.scenarios_show'), scenario_path(scenario), :class => "shell"
    .compare
      = check_box_tag 'ids[]', scenario.id
      = t 'links.scenarios_compare'
  .remove_from_list
    = link_to 'remove', '#'
  .name
    = link_to scenario_path(scenario) do
      - if scenario.current_scenario?
        = t 'current_scenario'
      - else
        = scenario.name
        = " - #{truncate scenario.title, :length => 60}" if scenario.title
  .date
    #{time_ago_in_words(scenario.created_at)} #{t 'time_ago'}
