-# External height
- graph_max_height     = local_assigns.has_key?(:height) ? height : 290
- show_area_labels     = local_assigns.has_key?(:area_labels) ? area_labels : true
- custom_css_class     = local_assigns.has_key?(:custom_class) ? custom_class : nil
- graph_max_amount     = local_assigns.has_key?(:max_amount) ? max_amount : Scenario::MaxAmount
-# Don't bother with this
- current_graph_height = scenario.total_amount / graph_max_amount * graph_max_height;

%table.combined_graph{:class => custom_css_class, :style => "height: #{graph_max_height}px" }
  %tr
    %td.total_amount{:colspan => 2}      
      %h4 Mix #{scenario.year || 2025}
      &euro;
      %span= number_with_precision(scenario.total_amount / 1_000_000_000, :precision => 1)
      Miljard
  %tr
    %td.carriers
      .graph
        - scenario.carriers.each_pair do |key, v|
          - height = v[:ratio] * current_graph_height
          .carrier{:class => key, :style => "height: #{height}px"}
            .label= v[:label] if show_area_labels && height > 8
    %td.money
      .background
        .coins{:style => "height: #{current_graph_height + 6}px"}

  - if local_assigns.has_key?(:inline_dashboard) && inline_dashboard
    %tr
      %td{:colspan => 2}
        .dashboard_item{:class => set_class_for_output(:output_5, scenario.output_5)}
          %h3= dashboard_label_for_output(:output_5)
          .value= format_dashboard_value(:output_5, scenario.output_5)
        .dashboard_item{:class => set_class_for_output(:output_6, scenario.output_6)}
          %h3= dashboard_label_for_output(:output_6)
          .value= format_dashboard_value(:output_6, scenario.output_6)
        .dashboard_item{:class => set_class_for_output(:output_7, scenario.output_7)}
          %h3= dashboard_label_for_output(:output_7)
          .value= format_dashboard_value(:output_7, scenario.output_7)
        .dashboard_item{:class => set_class_for_output(:output_8, scenario.output_8)}
          %h3= dashboard_label_for_output(:output_8)
          .value= format_dashboard_value(:output_8, scenario.output_8)
