.question{:id => "question_#{Question.count + 1}"}
  #user_details
    .text
      %h2 Uw EnergyMix van 2025
      %p
        Bedankt voor het invullen van de energiemix. Vul hieronder je gegevens in om de mix op te slaan en deze te vergelijken met anderen. Je ontvangt dan ook een email waarin je altijd later je mix weer terug kunt vinden. 
        
    %h2 Vul uw gegevens in:
    = scenario.error_messages
    %div.item
      = scenario.label :name, "Naam", :class => 'required'
      = scenario.text_field :name
    %div.item
      = scenario.label :email, "E-mail", :class => 'required'
      = scenario.text_field :email
    %div.item
      = scenario.label :age, "Leeftijd"
      = scenario.text_field :age
    %div.item
      = scenario.label :title, "Naam voor uw mix"
      = scenario.text_field :title
    %div.item
      = scenario.check_box :accept_terms      
      Ik ga akkoord met de
      = link_to 'algemene voorwarden', '#'
    %div.item      
      = scenario.submit :value => "Bewaar mijn mix"
    
      = scenario.hidden_field :output_0, :'data-label' => gquery_for_output(:output_0)
      = scenario.hidden_field :output_1, :'data-label' => gquery_for_output(:output_1)
      = scenario.hidden_field :output_2, :'data-label' => gquery_for_output(:output_2)
      = scenario.hidden_field :output_3, :'data-label' => gquery_for_output(:output_3)
      = scenario.hidden_field :output_4, :'data-label' => gquery_for_output(:output_4)
      = scenario.hidden_field :output_5, :'data-label' => gquery_for_output(:output_5)
      = scenario.hidden_field :output_6, :'data-label' => gquery_for_output(:output_6)
      = scenario.hidden_field :output_7, :'data-label' => gquery_for_output(:output_7)
      = scenario.hidden_field :output_8, :'data-label' => gquery_for_output(:output_8)
      = scenario.hidden_field :etm_scenario_id
