.question{:id => "question_#{Question.count + 1}"}
  #user_details
    = scenario.error_messages
    %div.item
      = scenario.label :name, "Naam", :class => 'required'
      = scenario.text_field :name
    %div.item
      = scenario.label :email, "E-mail", :class => 'required'
      = scenario.text_field :email
    %div.item
      = scenario.label :age, "Leeftijd"
      = scenario.text_field :age
    %div.item
      = scenario.label :title, "Naam voor uw mix"
      = scenario.text_field :title
    %div.item
      = scenario.submit :value => "Bewaar mijn mix"
    
      = scenario.hidden_field :output_0, :'data-label' => gquery_for_output(:output_0)
      = scenario.hidden_field :output_1, :'data-label' => gquery_for_output(:output_1)
      = scenario.hidden_field :output_2, :'data-label' => gquery_for_output(:output_2)
      = scenario.hidden_field :output_3, :'data-label' => gquery_for_output(:output_3)
      = scenario.hidden_field :output_4, :'data-label' => gquery_for_output(:output_4)
      = scenario.hidden_field :output_5, :'data-label' => gquery_for_output(:output_5)
      = scenario.hidden_field :output_6, :'data-label' => gquery_for_output(:output_6)
      = scenario.hidden_field :output_7, :'data-label' => gquery_for_output(:output_7)
      = scenario.hidden_field :output_8, :'data-label' => gquery_for_output(:output_8)
      = scenario.hidden_field :etm_scenario_id
