.question{:id => "question_#{@questions.count + 1}"}
  #user_details
    %h2= t 'form.title', :end_year => question_set.end_year
    %p= t 'form.text'
    %h2= t 'form.fill_your_data'
    = scenario.error_messages
    = scenario.hidden_field :accept_terms, value: '1'
    
    .item
      = scenario.label :name, t('form.name')
      = scenario.text_field :name
    .item
      = scenario.label :email, t('form.email')
      = scenario.text_field :email
    .item
      = scenario.label :age, t('form.age')
      = scenario.text_field :age
    .item
      = scenario.label :title, t('form.scenario_title')
      = scenario.text_field :title
    .item
      = scenario.check_box :public
      = scenario.label :public, t('form.public'), :class => 'check_box'
    .item      
      = scenario.submit :value => t('form.submit')
      -# .item
      -#   = link_to "Bewaar mijn mix", "#", :class => "shell", :id => "submit", :onmouseclick => "this.form.submit();"    
      = scenario.hidden_field :output_0, :'data-label' => gquery_for_output(:output_0)
      = scenario.hidden_field :output_1, :'data-label' => gquery_for_output(:output_1)
      = scenario.hidden_field :output_2, :'data-label' => gquery_for_output(:output_2)
      = scenario.hidden_field :output_3, :'data-label' => gquery_for_output(:output_3)
      = scenario.hidden_field :output_4, :'data-label' => gquery_for_output(:output_4)
      = scenario.hidden_field :output_5, :'data-label' => gquery_for_output(:output_5)
      = scenario.hidden_field :output_6, :'data-label' => gquery_for_output(:output_6)
      = scenario.hidden_field :output_7, :'data-label' => gquery_for_output(:output_7)
      = scenario.hidden_field :output_8, :'data-label' => gquery_for_output(:output_8)
      = scenario.hidden_field :output_9, :'data-label' => gquery_for_output(:output_9)
      = scenario.hidden_field :output_10, :'data-label' => gquery_for_output(:output_10)
      = scenario.hidden_field :output_11, :'data-label' => gquery_for_output(:output_11)
      = scenario.hidden_field :output_12, :'data-label' => gquery_for_output(:output_12)
      = scenario.hidden_field :score
      = scenario.hidden_field :etm_scenario_id
      = scenario.hidden_field :longitude
      = scenario.hidden_field :latitude
