%h2 Antwoorden van deze mix

%dl
  - @scenario.answers.each do |a|
    %dt
      #{a.question.number}.
      = a.question.question
    %dd
      - if a.answer
        = a.answer.answer.html_safe
      - else
        **Geen antwoord gegeven**
      - if APP_CONFIG["score"] && a.score
        (Score: #{a.score})

- content_for :head do
  = stylesheet_link_tag 'scenarios'