.scenario_answers
  %h2= t 'scenario.answers'

  %dl
    - @scenario.answers.each do |a|
      %dt
        #{a.question.number}.
        = a.question.text
      %dd
        - if a.answer
          = strip_links(markdown(a.answer.text)).html_safe
        - else
          = t 'scenario.no_answer'          
        - if APP_CONFIG["score"] && a.score
          = t 'scenario.score', :score => a.score
