%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    Vergelijk

= render :partial => 'search_scenario_box'

- if @scenarios.empty?
  Please select some scenarios first
- @scenarios.each do |s|
  .scenario
    .name= s.name
    = render :partial => 'static_graph', :locals => { :scenario => s, :inline_dashboard => true }

- content_for :head do
  = stylesheet_link_tag 'mixer.graph'
  = stylesheet_link_tag 'scenarios'