%section#breadcrumbs
  %nav
    = link_to t('homepage'), root_path
    >
    = link_to t('links.scenarios_index'), scenarios_path
    >
    = t 'scenario.compare'

%section#left
  = render :partial => 'search_scenario_box'
  - if @scenarios.first
    = render 'full_chart', :scenario => @scenarios.first

%section#right
  %section#select.shaded_gradient
    = link_to t('scenario.compare_with_others'), scenarios_path, :class => 'shell'
  - if @scenarios.last
    = render 'full_chart', :scenario => @scenarios.last
