%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    Vergelijk

%section#left
  = render :partial => 'search_scenario_box'
  - if @scenarios.first
    = render 'full_chart', :scenario => @scenarios.first

%section#right
  %section#select.shaded_gradient
    = link_to 'Vergelijk verschillende mixen met elkaar', scenarios_path, :class => 'shell'
  - if @scenarios.last
    = render 'full_chart', :scenario => @scenarios.last
