%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    Vergelijk

= render :partial => 'search_scenario_box'

- if @scenarios.empty?
  Please select some scenarios first
- else
  - @scenarios.each do |s|
    .scenario.graph_normal
      .name= s.name
      = render :partial => "chart_top", :locals => {:scenario => s, :year => 2025}
      = render :partial => 'chart', :locals => { :scenario => s }
      = render :partial => 'compare_dashboard', :locals => { :scenario => s }
    .spacer
  .current_scenario.graph_shaded
    .name Mix 2011
    = render :partial => "chart_top", :locals => {:scenario => Scenario.current, :year => 2011}
    = render :partial => 'chart', :locals => { :scenario => Scenario.current }
    = render :partial => 'compare_dashboard', :locals => { :scenario => Scenario.current }

- content_for :head do
  = stylesheet_link_tag 'mixer.graph'
  = stylesheet_link_tag 'scenarios'