%h2 Existing scenarios
= form_tag scenarios_path, :method => :get, :remote => true do
  Search
  = text_field_tag :q
  = submit_tag "Search"

= form_tag compare_scenarios_path do
  #selectable
    Choose
    .scenarios
      = render :partial => 'select_scenario_box', :collection => @scenarios, :as => :scenario
  #selected
    So far you've chosen
    .scenarios
      
  = submit_tag "Compare"

= paginate @scenarios


- content_for :head do
  = stylesheet_link_tag 'scenarios'
  :javascript
    $(function(){
      $("#selectable .scenario input").live('change', function(){
        $(this).attr('checked', true);
        $(this).parent().parent().appendTo("#selected .scenarios");
      });
      $("#selected .scenario input").live('change', function(){
      $(this).attr('checked', false);
        $(this).parent().parent().appendTo("#selectable .scenarios");
      });
    });