%section#breadcrumbs
  %nav
    = link_to t('homepage'), root_path
    >
    = t 'links.scenarios_index'

%section#left
  %section#search_scenarios_box.shaded_gradient
    = link_to t('links.scenarios_new'), new_scenario_path, :class => 'shell'
    %h3= t 'links.scenarios_index'
    = form_tag scenarios_path, :method => :get, :remote => true do
      = text_field_tag :q, params[:q], :placeholder => t('search')
  .clear

  %section.scenarios
    #user_scenarios.selectable
      = render :partial => 'select_scenario_box', :collection => @scenarios, :as => :scenario
    #pagination
      = paginate @scenarios, :remote => true

%section#right
  %section#select.shaded_gradient
    %h3= t 'scenario.compare_with_others'
    = form_tag compare_scenarios_path do
      %section#selected_scenarios
      = link_to t('links.scenarios_compare'), '#', :class => 'submit_form disabled'
  
  :ruby
    any_featured = @featured_scenarios.any?
    any_average  = @average_scenarios.any?
    active_tab = any_featured ? :featured : :averages
  - if any_featured || any_average
    %section.scenarios.shaded_gradient
      %nav.tabs
        - if any_featured
          = link_to t('scenario.featured'), '#featured_scenarios', :class => ['scenario_tab_picker', active_tab == :featured && 'active']
        - if any_average
          = link_to t('scenario.average'), '#average_scenarios', :class => ['scenario_tab_picker', active_tab == :averages && 'active']
        .clear
      .tab{:class => active_tab == :featured || 'hidden'}
        #featured_scenarios.selectable
          = render :partial => 'select_scenario_box', :collection => @featured_scenarios, :as => :scenario
      .tab{:class => active_tab == :averages || 'hidden'}
        #average_scenarios.selectable
          = render :partial => 'select_scenario_box', :collection => @average_scenarios, :as => :scenario

- content_for :head do
  = javascript_include_tag 'vendor/jquery.busy.min'
  = javascript_include_tag 'scenario_picker'
