%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    Bekijk de Mixes van anderen

%section#top
  %h2 Bekijk de EnergyMixes van anderen
  = form_tag scenarios_path, :method => :get, :remote => true do
    = text_field_tag :q, :hint => "Zoeken"

%section#scenarios
  = form_tag compare_scenarios_path do
    #selectable
      .scenarios
        = render :partial => 'select_scenario_box', :collection => @scenarios, :as => :scenario
      #pagination
        = paginate @scenarios, :remote => true
    
    #selected
      %h3 Selected
      .scenarios
        - if @selected_scenario
          = render :partial => 'select_scenario_box', :object => @selected_scenario, :as => :scenario
    #form_footer
      = submit_tag "Compare"



- content_for :head do
  = stylesheet_link_tag 'scenarios'
  = javascript_include_tag 'jquery.busy.min'
  :javascript
    $(function(){
      // let's deal with the back button
      $("#selectable .scenario input").attr("checked", false);
      $("#selected .scenario input").attr("checked", true);
      // adding an element
      $("#selectable .scenario input").live('change', function(){
        if($("#selected .scenario input").length >= 5) {
          $(this).attr('checked', false);
          alert("You can select up to 5 scenarios");
          return false;
        }
        $(this).attr('checked', true);
        $(this).parent().parent().appendTo("#selected .scenarios");
      });
      // removing
      $("#selected .scenario input").live('change', function(){
      $(this).attr('checked', false);
        $(this).parent().parent().appendTo("#selectable .scenarios");
      });
      
      $("body").ajaxStart(function(){
        $("#selectable").busy({img: '/images/spinner.gif'});
      });
    });
    
    