%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    Maak je eigen EnergyMix

%section#questions
  = render :partial => 'questions'

%section#results
  .current
    = render :partial => 'scenarios/graphs/new_static', :locals => { :scenario => Scenario.current }
  .user_created
    = render :partial => 'scenarios/graphs/new_dynamic'

%section#dashboard
  = render :partial => 'dashboard'
            
- content_for(:head) do
  = stylesheet_link_tag 'scenarios'
  = javascript_include_tag 'jquery.json-2.2.min' # for easier debugging
  = javascript_include_tag 'jquery.jsonp-2.1.4.min' # better error handling
  = javascript_include_tag 'jquery.busy.min'
  = javascript_include_tag 'rails.validations'
  = javascript_include_tag 'sprintf-0.7-beta1'
  = javascript_include_tag 'mixer', 'graph', 'questions'
  :javascript
    var globals = {
      answers: #{answers_json},
      answers_conflicts: #{answers_conflicts_json},
      dashboard_items: #{dashboard_items_json},
      dashboard_steps: #{dashboard_steps_json},
      mix_table: #{mix_table_json},
      graph_max_amount: #{Scenario::MaxAmount},
      api_base_path: #{APP_CONFIG["api_base_path"].to_json},
      api_session_settings: #{APP_CONFIG["api_session_settings"].to_json},
      popups: #{popup_json}
    }
