%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    Maak een eigen Energy Mix

%section#left
  %section#questions.shaded_gradient
    = render 'questions'
  %nav#down
    %a#previous_question{:href => "#"}
      << #{t('previous')}
    %a#next_question{:href => "#"}
      #{t('next')} >>
    .clear

%section#right
  %section#user_chart
    = render 'full_chart', :scenario => @scenario
  %section#current_chart.shaded_gradient
    = render 'shaded_chart', :scenario => Scenario.current

  = render 'js_init'            

%section#conflicts.shaded_gradient
  %span.warning Let op!
  De antwoorden op de vragen  
  %span.conflicting_questions
  lijken tegenstrijdig.
  %br
  Weet u zeker dat deze antwoorden de situatie in #{@end_year} goed beschrijven?

%div#tooltip
  %h3 Title
  %div Hier komt de kleine tooltip (popup)!