%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    Maak uw eigen EnergyMix

%section#questions
  = render :partial => 'questions'

%section#results
  .current.graph_shaded
    = render :partial => 'chart_top', :locals => {:scenario => Scenario.current, :year => 2011}
    = render :partial => 'chart', :locals => {:scenario => Scenario.current, :max_height => 390, :width => 50}
  .user_created.graph_normal
    = render :partial => 'chart_top', :locals => {:scenario => @scenario, :year => 2025}
    = render :partial => 'chart', :locals => {:scenario => @scenario, :max_height => 390, :width => 80 }

%section#dashboard
  - DashboardItem.ordered.each do |item|
    .dashboard_item{:class => item.gquery}
      %h3= t(item.label).html_safe
      .value
        loading...
            
- content_for(:head) do
  = stylesheet_link_tag 'scenarios'
  = javascript_include_tag 'jquery.json-2.2.min' # for easier debugging
  = javascript_include_tag 'jquery.jsonp-2.1.4.min' # better error handling
  = javascript_include_tag 'jquery.busy.min'
  = javascript_include_tag 'rails.validations'
  = javascript_include_tag 'sprintf-0.7-beta1'
  = javascript_include_tag 'mixer', 'graph', 'questions', 'chart.common'
  :javascript
    var globals = {
      answers: #{answers_json},
      answers_conflicts: #{answers_conflicts_json},
      dashboard_items: #{dashboard_items_json},
      dashboard_steps: #{dashboard_steps_json},
      mix_table: #{mix_table_json},
      secondary_mix_table: #{secondary_mix_table_json},
      graph_max_amount: #{Scenario::MaxAmount},
      api_base_path: #{APP_CONFIG["api_base_path"].to_json},
      api_session_settings: #{APP_CONFIG["api_session_settings"].to_json},
      popups: #{popup_json},
      etm_scenario_base_url: "#{APP_CONFIG['view_scenario_path']}",
      current_situation: #{Scenario.current.combined_carriers.to_json}
    }

%div#tooltip
  %h3 Title
  %div Hier komt de kleine tooltip (popup)!