%section#breadcrumbs
  %nav
    = link_to t('homepage'), root_path
    >
    = t 'links.scenarios_new'

%section#left
  %section#questions.shaded_gradient
    = render 'questions'
  %nav#down
    %a#previous_question{:href => "#"}= "<< #{t('previous')}"
    %a#next_question{:href => "#"}= "#{t('next')} >>"
    .clear

%section#right
  %section#user_chart
    = render 'full_chart', :scenario => @scenario
  %section#current_chart.shaded_gradient
    = render 'shaded_chart', :scenario => question_set.current_scenario

  = render 'js_init'

%section#conflicts.shaded_gradient(data-and="#{I18n.t('and')}")
  %span.warning= t 'warning'
  = raw t 'scenario.conflicts', :end_year => question_set.end_year

%div#tooltip
  %h3 Title
  %div Hier komt de kleine tooltip (popup)!
