%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    Maak een eigen EnergyMix

%section#questions
  = render 'questions'

%section#results
  .current.chart_shaded
    = render 'chart_top', :scenario => Scenario.current, :year => 2011
    = render 'chart',     :scenario => Scenario.current, :max_height => 390, :width => 50
  .user_created.chart_normal
    = render 'chart_top', :scenario => @scenario, :year => END_YEAR
    = render 'chart',     :scenario => @scenario, :max_height => 390, :width => 80

%section#dashboard
  - DashboardItem.ordered.each do |item|
    .dashboard_item{:class => item.gquery}
      %h3= t(item.label).html_safe
      .value
        loading...
  - if APP_CONFIG['score']
    #score
      %h3
        Jouw score:
      .value
        0
      #show_info
      .details
        %table#subscores
          -{cost: "Kosten", co2: "Co2", renewables: "Hernieuwbaar", areafp: "Bio-voetafdruk", import: "Energie import"}.each do |key, value|
            %tr{:class=>cycle("odd","even")}
              %th=value
              %td{:class=>key} 0
        .explanation
          * je score is altijd nul
          %br
          als je vraag 1 en 2 nog
          %br
          niet hebt ingevuld

= render 'js_init'            

%div#tooltip
  %h3 Title
  %div Hier komt de kleine tooltip (popup)!