%section#questions
  = render :partial => 'questions'

%section#results
  = render :partial => 'dynamic_graph'

%section#dashboard
  = render :partial => 'dashboard'
            
- content_for(:head) do
  = stylesheet_link_tag 'scenarios'
  = javascript_include_tag 'jquery.json-2.2.min' # for easier debugging
  = javascript_include_tag 'jquery.jsonp-2.1.4.min' # better error handling
  = javascript_include_tag 'jquery.busy.min'
  = javascript_include_tag 'sprintf-0.7-beta1'
  = javascript_include_tag 'mixer'
  = javascript_include_tag 'graph'
  = javascript_include_tag 'questions'
  :javascript
    var globals = {
      answers: #{answers_json},
      answers_conflicts: #{answers_conflicts_json},
      dashboard_items: #{dashboard_items_json},
      dashboard_steps: #{dashboard_steps_json},
      mix_table: #{mix_table_json},
      graph_max_amount: #{Scenario::MaxAmount}
    }
