%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    = @scenario.name

%section#top
  %h2 Bekijk de EnergyMixes van anderen
  = form_tag scenarios_path, :method => :get do
    = text_field_tag :q

%section#left
  .text
    - if @scenario.title
      .title
        = @scenario.title
    .name
      De mix van #{@scenario.name}
      - if @scenario.age
        (#{@scenario.age} jaar)
    .content
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    - if @scenario_id
      .link
        = link_to "Click here to load this scenario in the ET-Model", scenario_in_etm_url(@scenario), :target => '_new'
  .boxes
    .dashboard_item{:class => set_class_for_output(:output_5, @scenario.output_5)}
      %h3= dashboard_label_for_output(:output_5)
      .value= format_dashboard_value(:output_5, @scenario.output_5)
    .dashboard_item{:class => set_class_for_output(:output_6, @scenario.output_6)}
      %h3= dashboard_label_for_output(:output_6)
      .value= format_dashboard_value(:output_6, @scenario.output_6)
    .dashboard_item{:class => set_class_for_output(:output_7, @scenario.output_7)}
      %h3= dashboard_label_for_output(:output_7)
      .value= format_dashboard_value(:output_7, @scenario.output_7)
    .dashboard_item{:class => set_class_for_output(:output_8, @scenario.output_8)}
      %h3= dashboard_label_for_output(:output_8)
      .value= format_dashboard_value(:output_8, @scenario.output_8)
%section#right.graph
  .user
    = render :partial => 'static_graph', :locals => {:scenario => @scenario}
  .current
    = render :partial => 'static_graph', :locals => { :scenario => @current_scenario, :custom_class => 'shaded', :height => 430, :area_labels => false }
  
- content_for :head do
  = stylesheet_link_tag 'scenarios'
