%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    = @scenario.name

= render 'search_scenario_box'

%section#left
  .text
    - unless @scenario.title.blank?
      .title
        %h1{:style=>"font-size:1.2em;"}= "'#{@scenario.title}'"
    .name
      De mix van #{@scenario.name}
      - if @scenario.age
        (#{@scenario.age} jaar)
    .content
      = full_text(@scenario)    
  .links
    = link_to "Bekijk de antwoorden van deze mix", answers_scenario_path(@scenario), :id => "show_answers"
    - if @scenario.etm_scenario_id.present?
      = link_to "Laadt deze mix in het Energietransitiemodel.nl", scenario_in_etm_url(@scenario), :target => '_new'
  - if APP_CONFIG['score']
    .score
      Score: #{@scenario.score.to_i}
  .boxes
    .dashboard_item{:class => set_class_for_output(:output_5, @scenario.output_5)}
      %h3= t(dashboard_label_for_output(:output_5)).html_safe
      .value= format_dashboard_value(:output_5, @scenario.output_5)
    .dashboard_item{:class => set_class_for_output(:output_6, @scenario.output_6)}
      %h3= t(dashboard_label_for_output(:output_6)).html_safe
      .value= format_dashboard_value(:output_6, @scenario.output_6)
    .dashboard_item{:class => set_class_for_output(:output_7, @scenario.output_7)}
      %h3= t(dashboard_label_for_output(:output_7)).html_safe
      .value= format_dashboard_value(:output_7, @scenario.output_7)
    .dashboard_item{:class => set_class_for_output(:output_8, @scenario.output_8)}
      %h3= t(dashboard_label_for_output(:output_8)).html_safe
      .value= format_dashboard_value(:output_8, @scenario.output_8)
%section#right.graph
  .user.graph_normal
    = render 'scenarios/chart_top', :scenario => @scenario
    = render 'scenarios/chart', :scenario => @scenario
  .current.graph_shaded
    = render 'scenarios/chart_top', :scenario => Scenario.current
    = render 'scenarios/chart', :scenario => Scenario.current, :width => 50
  
- content_for :head do
  = stylesheet_link_tag 'scenarios'
  
  -#TODO: move this javascript to a js-file
  :javascript
    $(function(){
      $("#show_answers").colorbox({
        width: "600px",
        height: "650px",
        opacity: 0.6
      });
    });
