%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    = @scenario.name

= render :partial => 'search_scenario_box'

%section#left
  .text
    - if @scenario.title
      .title
        = @scenario.title
    .name
      De mix van #{@scenario.name}
      - if @scenario.age
        (#{@scenario.age} jaar)
    .content
      = full_text(@scenario)
  .links
    = link_to "Bekijk de antwoorden van deze mix", answers_scenario_path(@scenario), :id => "show_answers"
    = link_to "Laad deze mix in het Energietransitiemodel.nl", scenario_in_etm_url(@scenario), :target => '_new'
  .boxes
    .dashboard_item{:class => set_class_for_output(:output_5, @scenario.output_5)}
      %h3= dashboard_label_for_output(:output_5)
      .value= format_dashboard_value(:output_5, @scenario.output_5)
    .dashboard_item{:class => set_class_for_output(:output_6, @scenario.output_6)}
      %h3= dashboard_label_for_output(:output_6)
      .value= format_dashboard_value(:output_6, @scenario.output_6)
    .dashboard_item{:class => set_class_for_output(:output_7, @scenario.output_7)}
      %h3= dashboard_label_for_output(:output_7)
      .value= format_dashboard_value(:output_7, @scenario.output_7)
    .dashboard_item{:class => set_class_for_output(:output_8, @scenario.output_8)}
      %h3= dashboard_label_for_output(:output_8)
      .value= format_dashboard_value(:output_8, @scenario.output_8)
%section#right.graph
  .user.graph_normal
    = render :partial => 'scenarios/chart_top', :locals => {:scenario => @scenario}
    = render :partial => 'scenarios/chart', :locals => {:scenario => @scenario}
  .current.graph_shaded
    = render :partial => 'scenarios/chart_top', :locals => {:scenario => Scenario.current}
    = render :partial => 'scenarios/chart', :locals => { :scenario => Scenario.current}
  
- content_for :head do
  = stylesheet_link_tag 'scenarios'
  :javascript
    $(function(){
      $("#show_answers").colorbox({
        width: "50%",
        height: "80%",
        opacity: 0.6
      });
    });
