%section#breadcrumbs
  %nav
    = link_to "Home", root_path
    >
    = link_to "Bekijk de Mixes van anderen", scenarios_path
    >
    = @scenario.name

= render :partial => 'search_scenario_box'

%section#left
  .text
    - if @scenario.title
      .title
        = @scenario.title
    .name
      De mix van #{@scenario.name}
      - if @scenario.age
        (#{@scenario.age} jaar)
    .content
      = full_text(@scenario)
    - if @scenario_id
      .link
        = link_to "Click here to load this scenario in the ET-Model", scenario_in_etm_url(@scenario), :target => '_new'
  .boxes
    .dashboard_item{:class => set_class_for_output(:output_5, @scenario.output_5)}
      %h3= dashboard_label_for_output(:output_5)
      .value= format_dashboard_value(:output_5, @scenario.output_5)
    .dashboard_item{:class => set_class_for_output(:output_6, @scenario.output_6)}
      %h3= dashboard_label_for_output(:output_6)
      .value= format_dashboard_value(:output_6, @scenario.output_6)
    .dashboard_item{:class => set_class_for_output(:output_7, @scenario.output_7)}
      %h3= dashboard_label_for_output(:output_7)
      .value= format_dashboard_value(:output_7, @scenario.output_7)
    .dashboard_item{:class => set_class_for_output(:output_8, @scenario.output_8)}
      %h3= dashboard_label_for_output(:output_8)
      .value= format_dashboard_value(:output_8, @scenario.output_8)
%section#right.graph
  .user
    = render :partial => 'scenarios/graphs/show_static', :locals => {:scenario => @scenario}
  .current
    = render :partial => 'scenarios/graphs/show_shaded', :locals => { :scenario => Scenario.current }
  
- content_for :head do
  = stylesheet_link_tag 'scenarios'
