= simple_form_for [:admin, @scenario] do |f|
  = f.input :title
  = f.input :name
  = f.input :email
  = f.input :age
  = f.input :output_0, :hint => gquery_for_output(:output_0)
  = f.input :output_1, :hint => gquery_for_output(:output_1)
  = f.input :output_2, :hint => gquery_for_output(:output_2)
  = f.input :output_3, :hint => gquery_for_output(:output_3)
  = f.input :output_4, :hint => gquery_for_output(:output_4)
  = f.input :output_5, :hint => gquery_for_output(:output_5)
  = f.input :output_6, :hint => gquery_for_output(:output_6)
  = f.input :output_7, :hint => gquery_for_output(:output_7)
  = f.input :output_8, :hint => gquery_for_output(:output_8)
  = f.input :output_9, :hint => gquery_for_output(:output_9)
  = f.input :output_10, :hint => gquery_for_output(:output_10)
  = f.input :output_11, :hint => gquery_for_output(:output_11)
  = f.input :featured
  = f.input :average
  = f.button :submit
    
