= semantic_form_for [:admin, @scenario] do |f|
  = f.inputs do
    = f.input :title
    = f.input :name
    = f.input :email
    = f.input :age
    = f.input :output_0, :hint => gquery_for_output(:output_0)
    = f.input :output_1, :hint => gquery_for_output(:output_1)
    = f.input :output_2, :hint => gquery_for_output(:output_2)
    = f.input :output_3, :hint => gquery_for_output(:output_3)
    = f.input :output_4, :hint => gquery_for_output(:output_4)
    = f.input :output_5, :hint => gquery_for_output(:output_5)
    = f.input :output_6, :hint => gquery_for_output(:output_6)
    = f.input :output_7, :hint => gquery_for_output(:output_7)
    = f.input :output_8, :hint => gquery_for_output(:output_8)
    = f.input :featured
    = semantic_fields_for :answers do |a|
      = a.inputs do
        = a.input :question_id
        = a.input :answer_id
  = f.buttons
    
