- page_title "User Scenarios"

%table.striped
  %thead
    %tr
      %th= sortable(@scenarios, false , "created_at" ,"Date")
      %th= sortable(@scenarios, false , "title")
      %th= sortable(@scenarios, false , "name")
      %th= sortable(@scenarios, true , "output_5", "Co2 (%)")
      %th= sortable(@scenarios, true , "output_6", "Renewables (%)")
      %th= sortable(@scenarios, true , "output_8", "Import (%)")
      %th= sortable(@scenarios, true , "output_12", "Cost (mrd)")
      %th
  %tbody
    - @scenarios.each do |scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= l scenario.created_at, :format => :short
        %td= link_to scenario.title, admin_scenario_path(scenario) if scenario.title
        %td= link_to scenario.name, admin_scenario_path(scenario)
        %td= (scenario.output_5*100).round(2)
        %td= (scenario.output_6*100).round(2)
        %td= (scenario.output_8*100).round(2)
        %td= (scenario.output_12/1000000000).round(2)
        %td
          = link_to '', admin_scenario_path(scenario), :target => '_blank', :class => 'fugue fugue-information'
          = link_to '', scenario_path(scenario), :target => '_blank', :class => 'fugue fugue-chart'

#actions
  = link_to 'Back', admin_scenarios_path
