- page_title "User Scenarios"

%table.striped
  %thead
    %tr
      %th Date
      %th Title
      %th Name
      %th Co2 (%)
      %th Renewables (%)
      %th Import (%)
      %th Cost (mrd)
      %th
  %tbody
    - @scenarios.each do |scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= l scenario.created_at, :format => :short
        %td= link_to scenario.title, admin_scenario_path(scenario) if scenario.title
        %td= link_to scenario.name, admin_scenario_path(scenario)
        %td= (scenario.output_5*100).round(2)
        %td= (scenario.output_6*100).round(2)
        %td= (scenario.output_8*100).round(2)
        %td= (scenario.output_12/1000000000).round(2)
        %td
          = link_to '', admin_scenario_path(scenario), :class => 'fugue fugue-information'
          = link_to '', scenario_path(scenario), :class => 'fugue fugue-chart'
          = link_to '', edit_admin_scenario_path(scenario), :class => 'fugue fugue-pencil'
          = link_to '', admin_scenario_path(scenario), :confirm => 'Are you sure?', :method => :delete, :class => 'fugue fugue-cross'
