%h2 User Scenarios

%table.striped
  %thead
    %tr
      %th Id
      %th Name
      %th Email
      %th Age
      %th Featured
      %th
      %th
      %th
      %th
      %th Carriers
      %th Dashboard Values
      %th Answers
  %tbody
    - @scenarios.each do |scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to scenario.id, admin_scenario_path(scenario)
        %td= link_to scenario.name, admin_scenario_path(scenario)
        %td= scenario.email
        %td= scenario.age
        %td= scenario.featured
        %td= link_to '', admin_scenario_path(scenario), :class => 'fugue fugue-information'
        %td= link_to '', scenario_path(scenario), :class => 'fugue fugue-chart'
        %td= link_to '', edit_admin_scenario_path(scenario), :class => 'fugue fugue-pencil'
        %td= link_to '', admin_scenario_path(scenario), :confirm => 'Are you sure?', :method => :delete,  :class => 'fugue fugue-cross'
        %td
          %table.small
            %tr
              %td= gquery_for_output(:output_0)
              %td= scenario.output_0
            %tr
              %td= gquery_for_output(:output_1)
              %td= scenario.output_1
            %tr
              %td= gquery_for_output(:output_2)
              %td= scenario.output_2
            %tr
              %td= gquery_for_output(:output_3)
              %td= scenario.output_3
            %tr
              %td= gquery_for_output(:output_4)
              %td= scenario.output_4
        %td
          %table.small
            %tr
              %td= gquery_for_output(:output_5)
              %td= scenario.output_5
            %tr
              %td= gquery_for_output(:output_6)
              %td= scenario.output_6
            %tr
              %td= gquery_for_output(:output_7)
              %td= scenario.output_7
            %tr
              %td= gquery_for_output(:output_8)
              %td= scenario.output_8
        %td
          %table.small
            - scenario.answers.each do |a|
              %tr
                %td= a.question_id
                %td= a.answer_id

= paginate @scenarios

#actions
  = link_to 'New User Scenario', new_admin_scenario_path, :class => 'fugue fugue-plus'