- page_title "User Scenarios"

%table.striped
  %thead
    %tr
      %th Id
      %th Title
      %th Name
      %th Email
      %th Age
      %th Featured
      %th Average
      %th
      %th Carriers
      %th Dashboard Values
  %tbody
    - @scenarios.each do |scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to scenario.id, admin_scenario_path(scenario)
        %td= link_to scenario.title, admin_scenario_path(scenario) if scenario.title
        %td= link_to scenario.name, admin_scenario_path(scenario)
        %td= scenario.email
        %td= scenario.age
        %td= scenario.featured
        %td= scenario.average
        %td
          = link_to '', admin_scenario_path(scenario), :class => 'fugue fugue-information'
          = link_to '', scenario_path(scenario), :class => 'fugue fugue-chart'
          = link_to '', edit_admin_scenario_path(scenario), :class => 'fugue fugue-pencil'
          = link_to '', admin_scenario_path(scenario), :confirm => 'Are you sure?', :method => :delete, :class => 'fugue fugue-cross'
        %td.no_padding
          %dl.small
            %dt= gquery_for_output(:output_0)
            %dd= scenario.output_0
            %dt= gquery_for_output(:output_1)
            %dd= scenario.output_1
            %dt= gquery_for_output(:output_2)
            %dd= scenario.output_2
            %dt= gquery_for_output(:output_3)
            %dd= scenario.output_3
            %dt= gquery_for_output(:output_4)
            %dd= scenario.output_4
        %td.no_padding
          %dl.small
            %dt= gquery_for_output(:output_5)
            %dd= scenario.output_5
            %dt= gquery_for_output(:output_6)
            %dd= scenario.output_6
            %dt= gquery_for_output(:output_7)
            %dd= scenario.output_7
            %dt= gquery_for_output(:output_8)
            %dd= scenario.output_8

= paginate @scenarios

#actions
  = link_to 'New User Scenario', new_admin_scenario_path, :class => 'fugue fugue-plus'