- page_title "User Scenarios"

= form_tag(analysis_admin_scenarios_path, :method => :post)
%table.striped
  %thead
    %tr
      %th
      %th Id
      %th Date
      %th Question Set
      %th Title
      %th Name
      %th Email
      %th Age
      %th Featured
      %th Average
      %th Year
      %th
  %tbody
    - @scenarios.each do |scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= check_box_tag "id[]", scenario.id, false
        %td= link_to scenario.id, admin_scenario_path(scenario)
        %td= l scenario.created_at, :format => :short
        %td= link_to scenario.question_set.name, admin_question_set_path(scenario.question_set)
        %td= link_to scenario.title, admin_scenario_path(scenario) if scenario.title
        %td= link_to scenario.name, admin_scenario_path(scenario)
        %td= scenario.email
        %td= scenario.age
        %td= scenario.featured
        %td= scenario.average
        %td= scenario.year
        %td
          = link_to '', admin_scenario_path(scenario), :class => 'fugue fugue-information'
          = link_to '', scenario_path(scenario), :class => 'fugue fugue-chart'
          = link_to '', edit_admin_scenario_path(scenario), :class => 'fugue fugue-pencil'
          = link_to '', admin_scenario_path(scenario), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'fugue fugue-cross'

= button_to 'Analysis', analysis_admin_scenarios_path
= paginate @scenarios


#actions
  = link_to 'New User Scenario', new_admin_scenario_path, :class => 'fugue fugue-plus'
