!!! 5
%html
  %head
    %title Admin | EnergyMixer
    = stylesheet_link_tag "admin"
    = stylesheet_link_tag "vendor/fugue-sprite/fugue-sprite"
    = stylesheet_link_tag "vendor/ui-lightness/jquery-ui-1.8.15.custom"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield :head
  %body{:id => "#{controller_name}_#{controller.action_name}", 
        :class => [controller_name, "admin"]}
    %header
      %nav
        = tabs_tag do |tab|
          = tab.admin           'EnergyMixer / Admin', admin_root_path
          = tab.frontend        'Frontend',            root_path
          = tab.question_sets   'Question Sets',       admin_question_sets_path
          = tab.questions       'Questions',           admin_questions_path
          = tab.popups          'Popups',              admin_popups_path
          = tab.dashboard_items 'Dashboard Items',     admin_dashboard_items_path
          = tab.scenarios       'Mixes',               admin_scenarios_path
          = tab.stats           'Stats',               stats_admin_scenarios_path
          =# tab.translations    'Translations',        admin_translations_path
      #subnav
        .login_box
          - if user_signed_in?
            Logged in as
            = current_user.email
            = link_to 'Sign out', destroy_user_session_path
        %h2= yield :page_title
    - flash.each do |k,msg|
      .flash{:id => k}
        = msg
    #content
      = yield
