!!! 5
%html
  %head
    %title= t(APP_NAME)
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print', :media => "print"
    = javascript_include_tag 'application'
    /[if lt IE 9]
      = javascript_include_tag "html5", "ie"
    /[if lte IE 7]
      = stylesheet_link_tag "ie7"

    = csrf_meta_tag
    = render "layouts/javascript_unselectable"
    = yield :head

    - unless APP_CONFIG["standalone"]
      = airbrake_javascript_notifier unless APP_CONFIG['app_name'] == 'energymixer'
      = render 'layouts/google_analytics' if APP_CONFIG["google_analytics_key"]

  %body{:id => "#{controller.controller_name}_#{controller.action_name}",
        :class => [controller.controller_name, APP_NAME, APP_CONFIG['score'] && 'score_enabled']}

    = render "layouts/mediamind_tracker" if APP_CONFIG['app_name'] == 'energymixer'

    - if ipad?
      %meta{:name=>"viewport", :content=>"width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    #content

      = yield

  %footer
    - if APP_CONFIG["standalone"]
      = t('layout.footer', :app_name => t(APP_NAME))
    - else
      = link_to "http://www.energietransitiemodel.nl/", :target => "_blank", :class => 'open_in_etm' do
        = t('layout.footer', :app_name => t(APP_NAME))
    - if APP_CONFIG['multilanguage']
      = link_to 'DE', :locale => :de unless I18n.locale.to_sym == :de
      = link_to 'NL', :locale => :nl unless I18n.locale.to_sym == :nl
      = link_to 'EN', :locale => :en unless I18n.locale.to_sym == :en
    = yield :footer
