!!! 5
%html
  %head
    %title EnergyMixer
    = stylesheet_link_tag 'application', 'colorbox'
    = hoptoad_javascript_notifier
    = javascript_include_tag 'jquery.min', 'rails', 'jquery.colorbox-min', 'console', 'application'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag
    = yield :head
  %body{:id => "#{controller.controller_name}_#{controller.action_name}", :class => controller.controller_name}
    - flash.each do |k,msg|
      .flash{:id => k}
        = msg
    #content
      = yield
  %footer
    De Future Energy Mixer id gebaseerd op het
    = link_to "energietransitiemodel", "http://et-model.com/", :target => "_blank"