!!! 5
%html
  %head
    %title EnergyMixer
    = stylesheet_link_tag 'application', 'colorbox'
    = hoptoad_javascript_notifier
    = javascript_include_tag 'jquery.min', 'rails', 'jquery.colorbox-min', 'console', 'application', 'google_analytics'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js", "ie"
    = csrf_meta_tag
    = yield :head
  %body{:id => "#{controller.controller_name}_#{controller.action_name}", :class => controller.controller_name}
    #content
      = yield
  %footer
    = link_to "http://www.energietransitiemodel.nl/", :target => "_blank" do
      De Future Energy Mixer is gebaseerd op het energietransitiemodel
