!!! 5
%html
  %head
    %title EnergyMixer
    = stylesheet_link_tag 'all', 'colorbox'
    = javascript_include_tag 'jquery.min', 'rails', 'jquery.colorbox-min', 'console', 'application'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag
    = yield :head
  %body{:id => "#{controller.controller_name}_#{controller.action_name}", :class => controller.controller_name}
    %header#shell
      = image_tag 'shell_header.png'
    #sidebar
      = image_tag 'shell_sidebar.png'
    #main
      %header
        %nav#top
          = link_to 'Home', root_path
          \::
          = link_to 'Scenarios', scenarios_path
          \::
          = link_to 'Admin', admin_questions_path
      - flash.each do |k,msg|
        .flash{:id => k}
          = msg
      #content
        = yield
