!!! 5
%html{ lang: I18n.locale }
  %head
    %title= t(partition.name)
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print', :media => "print"
    = javascript_include_tag 'application'
    /[if lt IE 9]
      = javascript_include_tag "html5", "ie"
    /[if lte IE 7]
      = stylesheet_link_tag "ie7"

    = csrf_meta_tag
    = render "layouts/javascript_unselectable"
    = yield :head

    - unless APP_CONFIG["standalone"]
      = airbrake_javascript_notifier unless partition.name == 'mixer'
      = render 'layouts/google_analytics' if partition.analytics?

  %body{:id => "#{controller.controller_name}_#{controller.action_name}",
        :class => [controller.controller_name, partition.name, partition.show_score? && 'score_enabled']}

    =# render "layouts/mediamind_tracker" if partition.name == 'mixer'

    - if ipad?
      %meta{:name=>"viewport", :content=>"width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    #content

      = yield

  %footer
    - if APP_CONFIG["standalone"]
      = t('layout.footer', :app_name => t(partition.name))
    - else
      %a.open_in_etm(href="http://www.energietransitiemodel.nl/" target="_blank")<
        = t('layout.footer', :app_name => t(partition.name))
    = other_locale_links
    = yield :footer
