!!! 5
%html
  %head
    %title= t(APP_NAME)
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'vendor/colorbox'
    = javascript_include_tag :defaults
    = javascript_include_tag 'vendor/jquery.colorbox-min', 'console', 'popups'
    - unless APP_CONFIG["standalone"]
      = airbrake_javascript_notifier
      = javascript_include_tag 'vendor/google_analytics'
    /[if lt IE 9]
      = javascript_include_tag "vendor/html5", "ie"
    = csrf_meta_tag
    = yield :head
    = render "layouts/javascript_unselectable"
  %body{:id => "#{controller.controller_name}_#{controller.action_name}",
        :class => [controller.controller_name, APP_NAME, APP_CONFIG['score'] && 'score_enabled']}
    #content
      = yield
  %footer
    - if APP_CONFIG["standalone"]
      De #{t(APP_NAME)} is gebaseerd op het Energietransitiemodel
    - else
      = link_to "http://www.energietransitiemodel.nl/", :target => "_blank" do
        De #{t(APP_NAME)} is gebaseerd op het Energietransitiemodel