!!! 5
%html
  %head
    %title EnergyMixer
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag "mix_dance"
    = csrf_meta_tag
    = yield :head
  %body
    = yield
